extends Layout

block content
  h1(class="heading-author")=title

  form(method='POST',class="author_form")
    div.form-group
      label(for='first_name',class="label") First Name:
      input#first_name.form-control(class="input",type='text', placeholder='First name (Christian)' name='first_name' required value=(undefined===author ? '' : author.first_name) )
      label(for='family_name',class="label") Family Name:
      input#family_name.form-control(class="input",type='text', placeholder='Family name (Surname)' name='family_name' required value=(undefined===author ? '' : author.family_name))
    div.form-group
      label(for='date_of_birth',class="label") Date of birth:
      input#date_of_birth.form-control(class="input",type='date' name='date_of_birth' value=(undefined===author ? '' : author.date_of_birth) )
    button.btn.btn-primary(type='submit',class="submit_btn") Submit

  if errors
    ul
      for error in errors
        li!= error.msg
